<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <boxalino_exporter>
            <general>
                <status>0</status>
            </general>
            <scheduler>
                <status>0</status>
                <delta_min_interval>60</delta_min_interval>
                <delta_start>7</delta_start>
                <delta_end>23</delta_end>
            </scheduler>
            <products>
                <export_url>1</export_url>
                <export_images>1</export_images>
                <export_media_gallery>media_gallery</export_media_gallery>
                <export_rating_storeview>1</export_rating_storeview>
                <facetValueExtraInfo>0</facetValueExtraInfo>
            </products>
            <customers>
                <status>1</status>
            </customers>
            <transactions>
                <status>1</status>
                <mode>1</mode>
            </transactions>
            <advanced>
                <timeout>300</timeout>
                <publish_configuration_changes>1</publish_configuration_changes>
            </advanced>
        </boxalino_exporter>
    </default>
</config>
